@font-face {
    font-family: 'iranSans';
    src: url('#{$font-url}/IRANSansWeb_light.eot');
    src: url('#{$font-url}/IRANSansWeb_light.eot?#iefix') format('embedded-opentype'),
    url('#{$font-url}/IRANSansWeb_light.woff2') format('woff2'),
    url('#{$font-url}/IRANSansWeb_light.woff') format('woff'),
    url('#{$font-url}/IRANSansWeb_light.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iranSans';
    color: $font-color;
    text-align: right;
}

html {
    overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
    width: 100%;
    font-family: 'iranSans';
    background-color: #B28AF8;
}

a {
    text-decoration: none !important;
    font-size: $font-size;
    color: $font-color !important;
}

p {
    font-size: $font-size;
}

li {
    list-style: none !important;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: $font-size;
    border-radius: 25px;
    border: 1px solid rgb(180, 180, 180);
}

.btn:hover {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: 1px solid rgb(180, 180, 180);
}

.btn-danger {
    border: 1px solid $red-color;
    background-color: $red-color;
}

.btn-danger:hover {
    background-color: transparent;
}

.btn-white {
    border: 1px solid $white-color;
    background-color: $white-color;
    color: $gray-color !important;
}

.btn-white:hover {
    background-color: transparent;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'iranSans';
    font-weight: bold;
    -webkit-transition: all .3s;
    transition: all .3s;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    color: #242424;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h6 a:hover,
.h6 a:hover {
    text-decoration: none;
    color: #287dfe;
}

h1,
.h1 {
    font-size: 48px;
}

h2,
.h2 {
    font-size: 36px;
}

h3,
.h3 {
    font-size: 32px;
}

h4,
.h4 {
    font-size: 27px;
}

h5,
.h5 {
    font-size: 19px;
}

h6,
.h6 {
    font-size: 15px;
}

.section-gap {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 991px) {

    h1,
    .h1 {
        font-size: 36px;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    h3,
    .h3 {
        font-size: 24px;
    }

    h4,
    .h4 {
        font-size: 20px;
    }

    h5,
    .h5 {
        font-size: 18px;
    }

    h6,
    .h6 {
        font-size: 16px;
    }

    .app-header+.section-gap {
        padding-top: 5rem;
    }
}

@media (max-width: 767px) {

    h1,
    .h1 {
        font-size: 32px !important;
    }

    h2,
    .h2 {
        font-size: 28px !important;
    }

    p,
    a {
        font-size: 14px !important;
    }

    #menu .nav_bar nav {
        @include size(50%, 100%);
        @include position(fixed, 0, -100%, 0, null);
        @include flex(flex, start, center);
        background: $dark-purple-color;
        transition: 0.5s ease-in;

        ul {
            flex-direction: column;
        }
    }

    #menu .nav_bar {
        margin-top: 1rem;
    }

    #menu .nav_bar nav ul {
        margin-top: 3rem !important;
    }

    #menu .nav_bar .hambergur-menu {
        display: flex !important;
    }

    #menu .nav_bar .logo a {
        font-size: $font-size + 0.6 !important;
    }

    #company .owl-nav {
        margin: unset !important;
        width: unset !important;
        justify-content: center !important;
    }
}

@media (max-width: 667px) {

    h1,
    .h1 {
        font-size: 30px !important;
    }

    h1 a,
    .h1 a {
        font-size: 30px !important;
    }

    h2,
    .h2 {
        font-size: 24px !important;
    }

    h2 a,
    .h2 a {
        font-size: 26px !important;
    }

    h3,
    .h3 {
        font-size: 22px !important;
    }

    h3 a,
    .h3 a {
        font-size: 22px !important;
    }

    h4,
    .h4 {
        font-size: 18px !important;
    }

    h4 a,
    .h4 a {
        font-size: 18px !important;
    }

    h5,
    .h5 {
        font-size: 15px !important;
    }

    h5 a,
    .h5 a {
        font-size: 16px !important;
    }

    h6,
    .h6 {
        font-size: 14px !important;
    }

    h6 a,
    .h6 a {
        font-size: 14px !important;
    }

    p,
    a {
        font-size: 9px !important;
    }

    .title h3 {
        padding: 0 1rem;
        @include position(relative, null, null, null, null, 5);
    }

    #footer .feed-wrapper .email-wrapper {
        font-size: $font-size;
        @include size(250px !important, 30px !important);
    }

    #footer .feed-wrapper .email-wrapper input[type="button"] {
        font-size: $font-size - 0.2;
        @include space(0.2rem, 0.5rem, null, null, true);
        left: 37px !important;
    }

    #footer::after {
        @include position(absolute, -190px !important, null, null, -35px !important);
        @include size(138px !important, 170px !important);
    }

    .copyRight {
        padding: 1rem 1rem !important;
    }

    .copy-right-text {
        font-size: $font-size !important;
    }

    #company .owl-nav {
        margin: unset !important;
        width: unset !important;
        justify-content: center !important;
    }

    #statistics .statistics-wrapper {
        @include size(100% !important, 90% !important);
        flex-direction: column;
        padding: 1rem !important;
    }

    #statistics .statistics-wrapper div:nth-child(2)::before {
        @include size(100% !important, 3px !important);
        @include position(absolute, -20% !important, 0 !important, null, null);
    }

    #statistics .statistics-wrapper div:nth-child(2)::after {
        @include size(100% !important, 3px !important);
        @include position(absolute, 100% !important, null, null, 0 !important);
    }

    #menu .nav_bar nav {
        @include size(50%, 100%);
        @include position(fixed, 0, -100%, 0, null);
        @include flex(flex, start, center);
        background: $dark-purple-color;
        transition: 0.5s ease-in;

        ul {
            flex-direction: column;
        }
    }

    #menu .nav_bar {
        margin-top: 1rem;
    }

    #menu .nav_bar nav ul {
        margin-top: 3rem !important;
    }

    #menu .nav_bar .hambergur-menu {
        display: flex !important;
    }

    #menu .nav_bar .logo a {
        font-size: $font-size + 0.6 !important;
    }
}

@media (min-width: 769px) {
    .section-gap {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}