#portfolio {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    background-color: $dark-purple-color;
    @include position(relative);

    &::after {
        content: '';
        @include position(absolute, 15%, 6%, null, null, 0);
        @include size(150px, 120px);
        background: url(../images/loop.png);
        background-size: cover;
    }

    &::before {
        content: '';
        @include position(absolute, 53%, null, null, 30%, 1);
        @include size(70px, 70px);
        background: url(../images/shape-2.png);
        background-size: cover;
    }

    .title {
        @include size(100%, null);
        @include space(0, 0, 3rem, 0);

        p,
        h3 {
            text-align: center;
        }
    }

    .item {
        background-color: $purple-color;
        border-radius: 10px;


        .img-wrapper {
            @include size(100%, 140px);
            @include space(1rem, null, null, null, true);
            @include flex();
            background: #FFC7E1;
            border-radius: 10px;
        }

        .img-blog-post {
            padding: 0;
            height: auto;
            border-radius: 10px;

            img {
                border-radius: 10px;
            }
        }

        .card-body {
            text-align: center;

            p {
                text-align: center;
            }
        }

    }

    .owl-nav {
        @include flex(flex, center, center);

        button {
            @include size(30px, 30px);
            @include flex(flex, center, center);
            border-radius: 50%;
            background-color: #C4A3FD;
            outline: none;
        }
    }
}