$font-url:'../fonts';
$font-size:0.8rem;
$font-size-title:$font-size+1;
$font-color:#fff;
$red-color:#FF0513;
$white-color:#fff;
$gray-color:#605e5e;
$purple-color:#b28af8;
$dark-purple-color:#956AE1;